@use "./variables";

/* ------------------------------------------------------------ *\
  Functions
  @see https://sass-lang.com/documentation/at-rules/function
\* --------------------------------.---------------------------- */

@use "sass:map";
@use "sass:meta";
@use "sass:math";

/*
 * Remove unit from a given value.
 */
@function strip-unit($value) {
	@if (meta.type-of($value) == "number" and not math.is-unitless($value)) {
		@return math.div($value, $value * 0 + 1);
	}

	@return $value;
}

/*
 * Convert px to rem.
 */
@function rem($value: 16px, $base: variables.$font-size-base-px) {
	@return math.div(strip-unit($value), strip-unit($base)) * 1rem;
}

/*
 * Convert px to em.
 */
@function em($value: 16px, $base: variables.$font-size-base-px) {
	@return math.div(strip-unit($value), strip-unit($base)) * 1em;
}

/*
 * Get a color from mapped value.
 */
@function color(
	$key,
	$palette: map.deep-merge(variables.$colors, variables.$theme-colors)
) {
	@return map.get($palette, $key);
}

/*
 * Get font-size from mapped value.
 */
@function font-size($key, $sizes: variables.$font-sizes) {
	@return map.get($sizes, $key);
}

/*
 * Get font-weight from mapped value.
 */
@function font-weight($key, $weights: variables.$font-weights) {
	@return map.get($weights, $key);
}

/*
 * Set the line-height.
 *
 * @param {Pixel} $line-height - The line height in pixel.
 * @param {Pixel} $font-size - The font size in pixel.
 * @return {Float Number} - The divided value of $line-height / $font-size
 */
@function line-height($line-height, $font-size) {
	@return math.div(strip-unit($line-height), strip-unit($font-size));
}
