/* ------------------------------------------------------------ *\
  Options
\* ------------------------------------------------------------ */
$variable-prefix: "";
$enable-important-utilities: false;

/* ------------------------------------------------------------ *\
  Colors
\* ------------------------------------------------------------ */
$colors: (
	"gray-100": #d3d1d1,
	"gray-200": #f9f9f9,
	"gray-300": #a5a5a5,
	"gray-400": #f5f5f5,
	"gray-500": #cdcdce,
);

$theme-colors: (
	"primary": #060709,
	"secondary": #fff,
);

$body-bg: #060709;
$body-color: #fff;

/* ------------------------------------------------------------ *\
  Typography
\* ------------------------------------------------------------ */
$font-family-serif: "Josefin Sans";
$font-family-sans-serif: "Josefin Sans";

$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-serif;

$font-size-base-px: 16px;

$font-sizes: (
	"xs": 0.875rem,
	"sm": 1rem,
	"md": 1.375rem,
	"lg": 1.5625rem,
	"xl": 2.1875rem,
	"xxl": 2.8125rem,
	"xxxl": 3.4375rem,
);

$font-weights: (
	"thin": 100,
	"extra-light": 200,
	"light": 300,
	"regular": 400,
	"medium": 500,
	"semi-bold": 600,
	"bold": 700,
	"extra-bold": 800,
	"black": 900,
);

/* ------------------------------------------------------------ *\
  Breakpoints, Containers and Grid.
\* ------------------------------------------------------------ */
$grid-breakpoint: (
	"xs": 0,
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1280px,
	"xxl": 1600px,
	"xxxl": 1900px,
);

$container-max-widths: (
	"xl": 1246px,
	"xxl": 1528px,
);

$grid-columns: 12;
$grid-gutter-width: 1.5rem;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: 50px,
);

/* ------------------------------------------------------------ *\
  Header and Footer
\* ------------------------------------------------------------ */
$header-height: (
	"sm": 60px,
	"md": 70px,
	"lg": 80px,
);

/* ------------------------------------------------------------ *\
  Utilities API.
\* ------------------------------------------------------------ */
$utilities: (
	"display": (
		"responsive": true,
		"property": display,
		"class": display,
		"values": inline-block block flex inline-flex none,
	),
	"margin-left": (
		"responsive": false,
		"property": margin-left,
		"class": ml,
		"values": $spacers,
	),
);

/* ------------------------------------------------------------ *\
  Custom
\* ------------------------------------------------------------ */
$breakpoint-responsive-xs: 413px;
$breakpoint-responsive-adminbar-mobile: 600px;
$breakpoint-responsive-adminbar-tablet: 782px;

$adminbar-height-desktop: 32px;
$adminbar-height-tablet: 46px;

$trs: 0.3s;
$trs-lg: 0.5s;
