@use "../functions";
@use "../mixins/breakpoint";
@use "../mixins/utils";
@use "../variables";

.c-example {
	color: functions.color("gray-900");
	font-family: variables.$font-family-serif;
	font-weight: functions.font-weight("bold");

	@include breakpoint.down(sm) {
		font-size: functions.rem(14px);
	}

	@include breakpoint.up(md) {
		font-size: functions.rem(18px);
	}
}
