@font-face {
  font-family: "Josefin Sans";
  src:
    url("../fonts/JosefinSans/JosefinSans-Regular.woff2") format("woff2"),
    url("../fonts/JosefinSans/JosefinSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src:
    url("../fonts/JosefinSans/JosefinSans-Medium.woff2") format("woff2"),
    url("../fonts/JosefinSans/JosefinSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src:
    url("../fonts/JosefinSans/JosefinSans-Bold.woff2") format("woff2"),
    url("../fonts/JosefinSans/JosefinSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
