@use "sass:map";
@use "../variables";

/**
 *
 * Mobile First
 *
 */
@mixin up($breakpoint) {
	@media (min-width: map.get(variables.$grid-breakpoint, $breakpoint)) {
		@content;
	}
}

/**
 *
 * Desktop Down
 *
 */
@mixin down($breakpoint) {
	@media (max-width: map.get(variables.$grid-breakpoint, $breakpoint)) {
		@content;
	}
}

/**
 *
 * Between screens
 *
 */
@mixin between($min-key, $max-key) {
  $min-width: map.get(variables.$grid-breakpoint, $min-key);
  $max-width: map.get(variables.$grid-breakpoint, $max-key);

	@media (min-width: #{$min-width}) and (max-width: #{$max-width}) {
		@content;
	}
}
