/**
 *
 * Paragraphs
 *
 */

@mixin text {
	@include font-size-line-height(16px, 24px);
	font-family: $font-family-sans-serif;
	font-weight: font-weight("light");
	letter-spacing: rem(1px);
	margin: 0;
	position: relative;
}

@mixin text-stronger {
	@include text;
	font-weight: font-weight("bold");
}

@mixin text-smaller {
	@include text;
	@include font-size-line-height(14px, 22px);
}
